
#web-canvas {
  width: 1000px;
  height: 700px;
  display: flex;
  z-index: 0;
top: -25vh;

}  
  .web-canvas-container {
    width: 50%;
    height: 900px;
    position: absolute;
    z-index: 0;
    top: -25vh;
  }

  #web-canvashome {
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 0;
  
  
  }
  
  #web-canvas-containerhome {
    width: 50%;
    height: 500px;
    position: absolute;
    
    top: 33vh;
    left: 46vh;
    z-index: 0;
  
  }



.snba
{
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  justify-content: center;
  top: 0px;
  height: 220px;
  align-items: center;
  gap: 30px;
  background-color: #000000;

}

#snbaholder
{
  width: 100%;
  height: 10px;
  position: absolute;
  top: 76vh;
  z-index: 1;

}

.pic{
  width: 100%;
  height: 100%;
  background: url('../assets/IDDlaptopPic.png') no-repeat center center;
  background-size: contain;
}


  .video {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width:  100%;
    height: 100vh;
    text-align: center;

    z-index: 1;


  }
  
  .video video {
    position: absolute;
    width: 100%;
    height: 100%;
        position: relative;
    background: rgb(0, 0, 0);
    color: white;
  }
  

  .video2 {
    display:flex;
    justify-content: left;
    align-items: left;
    position: relative;
    width:  50%;
    height: 113%;
    right: 110px;
    text-align: left;
    background: rgb(247, 5, 5);
    z-index: 1;


  }
  
  .video2 video {

    position: absolute;
    width: 100%;
    height: 100%;
        position: relative;
    background: rgb(0, 0, 0);
    color: white;
  }

  .overlay-text {
    position: absolute;
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
    
  }
  
  /* #view6 {
    background-color: rgb(127, 127, 127);
  } */
  
  #pre-order {
    background-color: rgb(128, 128, 128);
  }
  
  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #aa00ff;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 20px;
    display: none;
    z-index: 10;
  }
  
  .back-to-top:hover { /* Hover is a pseudo-class */
    background-color: #ff00ee;
  }
  
  /* Show button when user scrolls past section 1 */
  body.scrolled .back-to-top {
    display: block;
  }
  
  /* Footer */
  footer {
    height: 100px;
    background-color: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .backgroundsecta {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 1080px;
    display: inline-block;
    box-sizing: border-box;

}

  