* {
    margin: 0px;
    border: none;
    padding: 0px;
}

body {
    font-family: "Silkscreen", regular;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.navbar div {
    display: flex;
    align-items: center;
}

.navdiv {   
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
}

.logo div{
    display: flex;
    align-items: center;
}

.logopicc {
    width: 48px;
    height: 48px;
}

.logoname {
    font-size: 32px;
    margin-left: 24px;
    color: white;
}

.chapters a {
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

.chapters a::after {
    content: "";
    position: absolute;
    background-color: white;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -8px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .3s;
}

.chapters a:hover::after {
    transform: scaleX(1);
}

.preorderbtn button {
    font-family: "Silkscreen", regular;
    font-size: 16px;
    padding: 8px 32px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 8px;
}

.preorderbtn button::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #EC68AA;
    left: 0;
    top: 0;
    border-radius: 8px;
}

.preorderbtn button::before {
    content: "";
    background: linear-gradient(
        45deg,
        #FF0000, #FF7300, #FFFB00, #48FF00,
        #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    left: -2px;
    top: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 8px;
    opacity: 0;
}

@keyframes glowing {
    0%  {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

.preorderbtn button:hover::before {
    opacity: 1;
}

#HeroImage div{
    background-color: red;

}

#More div{
    background-color: orange;

}

#Preview div{
    background-color: yellow;

}

#Rotation div{
    background-color: green;

}

#Rotation div{
    background-color: blue;

}

#Description div{
    background-color: purple;
} 

#Individual div{
    background-color: rgb(128, 0, 11);
} 