

  .video {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width:  100%;
    min-height: 100vh;
    text-align: center;
    padding: 0 30px;
    z-index: 1;
  }
  
  .video video {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
  }
  
  .overlay-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #ffffff00;
    color: #fff;
  }
  
  /* #view6 {
    background-color: rgb(127, 127, 127);
  } */
  
  #pre-order {
    background-color: rgb(128, 128, 128);
  }
  
  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #aa00ff;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 20px;
    display: none;
    z-index: 10;
  }
  
  .back-to-top:hover { /* Hover is a pseudo-class */
    background-color: #ff00ee;
  }
  
  /* Show button when user scrolls past section 1 */
  body.scrolled .back-to-top {
    display: block;
  }
  
  /* Footer */
  footer {
    height: 100px;
    background-color: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .backgroundsecta {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 1080px;
    display: inline-block;
    box-sizing: border-box;

}

  